
.qe-context-menu {
  position: absolute;
  min-width: 110px;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  top: 0;
  left:0;
  height: 0px;
  opacity: 0;
  transition: top .2s ease, height .2s ease, opacity .2s ease;
  margin-top: 0px;
  z-index: 10;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.qe-context-menu.open {
  top: 100%;
  height: auto;
  max-height: 250px;
  opacity: 1;
  margin-top: 2px;
  border: 1px solid;
  transition: all .1s ease;
}